<div class="container">
  <table>
    <tr>
      <td rowspan="4" class="col-md-4">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, width: '200px' %>
        <% else %>
          <%= image_tag ("800x600.png"), width: '200px' %>
        <% end %>
      </td>
      <td>
        <% if @user.name? %>
          <h4><%= @user.name %></h4>
        <% else %>
          <h4>User Name</h4>
        <% end %>
      </td>
    </tr>
      <td class="text-muted"><%= @user.email %></td>
    </tr>
    <tr>
      <td>
        <% if @user.intro? %>
          <%= simple_format(@user.intro) %>
        <% else %>
          <p><em>About me...</em></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      </td>
    </tr>
  </table>
</div>