<div class="container">
  <div>
  <h2>餐廳後台 <%= link_to 'Create New Restaurant', new_admin_restaurant_path, class: "btn btn-warning" %></h2>
  </div>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th>Restaurant Name</th>
      <th></th>
    </tr>  
    
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td>
        <%= link_to 'Show', admin_restaurant_path(restaurant) %> &emsp;
        <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %> &emsp;
        <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= paginate @restaurants %><%# 分頁導覽器 %>
  <br>
  <br>
</div>